# Git
.git
.gitignore
.gitattributes

# Python
*.py[cod]
__pycache__
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
venv
.env
.venv

# Django
*.log
local_settings.py
db.sqlite3
media

# Development/IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Testing
.tox
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/

# Documentation
docs/_build/

# Node
node_modules/
npm-debug.log

# Docker
Dockerfile
docker-compose.yml
.docker/
